* {
    padding: 0;
    margin: 0;
    
  }
  .contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  body{
    background: #FFFFFF;
  }
  header {
    background: #FFFFFF;
    width: 100%;
    position: fixed;
    z-index: 20;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(209, 18, 18, 0.58);
  }
  nav ul li a {
    display: flex; 
    padding: 12px;
    color: #fff;
    text-decoration: none; 
  }

.arriba{
    position: absolute;
    width: 452px;
    height: 84px;
    left: 11px;
    top: 10px;
}
.fondo{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: 2px solid rgba(209, 18, 18, 0.58);
    position: absolute;
    width: 1524px;
    height: 121px;
    left: -12px;
    top: -13px;
    background: #FFFFFF;
    border-radius: 16px;
}
.mensaje{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1171px;
    top: 33px;
}
.campana{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1263px;
    top: 32px;
}
.avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1364px;
    top: 22px;
    border-radius: 50px;
}
.lateral{
    position: absolute;
    width: 110px;
    height: 879px;
    left: -2px;
    top: 98px;
    background: #D6D0D0;
}
.casa{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 49px;   
}
.yo{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 141px;   
}
.carpeta{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 235px;
}
.calendario{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 338px;    
}
.pregunta{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 34px;
    top: 552px;
}
.avatar2{
    position: absolute;
    width: 81px;
    height: 80px;
    left: 15px;
    top: 4px;
    border-radius: 50px;  
}
.fondop{
    position: absolute;
    width: 928px;
    height: 89px;
    left: 190px;
    top: 106px;
    background: #FFFFFF;
    border-radius: 18px;
    border: 2px solid rgba(209, 18, 18, 0.58); 
}
#nombre{
    position: absolute;
    width: auto;
    height: 44px;
    left: 121px;
    top: 28px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
}
.fondo2{
    position: absolute;
    width: 928px;
    height: 748px;
    left: 187px;
    top: 298px;
    background: #FFFFFF;
    border-radius: 18px;
    border: 2px solid rgba(209, 18, 18, 0.58) ;
}
.fondo3{
    position: fixed;
    width: 337px;
    height: calc(100% - 50px);
    left: 1010px;
    top: 88px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    overflow-y: scroll;
    z-index: 999;
}
#vistag{
    position: absolute;
    width: auto;
    height: 36px;
    left: 200px;
    top: 224px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;



    color: #000000;
}
.fondoR{
    position: absolute;
    width: 205px;
    height: 40px;
    left: 247px;
    top: 36px;  
    background: rgba(209, 18, 18, 0.58);
    border-radius: 11px;
    border: 2px solid rgba(209, 18, 18, 0.58);
}
#letraS{
    
    position: absolute;
    left: 13px;
    top: -1px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}
#letraa{
    position: absolute;
    left: 480px;
    top: 38px;  
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

#fondoM1{
    position: absolute;
    width: 262px;
    height: 136px;
    left: 93px;
    top: 154px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

#fondoG1{
    padding: 10px;
    position: absolute;
    width: 242px;
    height: 131px;
    left: 93px;
    top: 290px;
    background: #D9D9D9;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #000000;
}

#fondoM2{
    position: absolute;
    width: 262px;
    height: 136px;
    left: 535px;
    top: 154px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

#fondoG2{
    padding: 10px;
    position: absolute;
    width: 242px;
    height: 131px;
    left: 535px;
    top: 290px;
    background: #D9D9D9;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #000000;
}

#fondoM3{
    position: absolute;
    width: 262px;
    height: 136px;
    left: 94px;
    top: 446px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

#fondoG3{
    padding: 10px;
    position: absolute;
    width: 242px;
    height: 131px;
    left: 94px;
    top: 583px;
    background: #D9D9D9;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;    
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #000000;
}

#fondoM4{
    position: absolute;
    width: 262px;
    height: 136px;
    left: 535px;
    top: 446px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

#fondoG4{
    padding: 10px;
    position: absolute;
    width: 242px;
    height: 131px;
    left: 535px;
    top: 583px;
    background: #D9D9D9;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #000000;
}

.reloj{
    position: absolute;
    width: 325px;
    height: 140px;
    left: 5px;
    top: 28px;
    background: #F4F0F0;
}

#relojl{
    position: absolute;
    width: 105px;
    height: 32px;
    left: 10px;
    top: 10px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#servi{
    position: absolute;
    width: 226px;
    height: 32px;
    left: 79px;
    top: 43px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#logoservi{
    position: absolute;
    left: 47px;
    top: 54px;
}

#usted{
    position: absolute;
    width: 226px;
    height: 32px;
    left: 79px;
    top: 77px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#logousted{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 47px;
    top: 88px;
    border-radius: 10px;
}
#letaMateria{
    position: absolute;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}
.Cronograma{
    position: absolute;
    width: 325px;
    height: 372px;
    left: 5px;
    top: 204px;
    background: #F4F0F0;
}
#Cronogramal{
    position: absolute;
    width: 105px;
    height: 32px;
    left: 10px;
    top: 10px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#primero{
    position: absolute;
    width: 252px;
    height: 32px;
    left: 68px;
    top: 53px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}
#logop{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 17px;
    top: 116px;
}
#segundo{
    position: absolute;
    width: 239px;
    height: 32px;
    left: 68px;
    top: 207px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}
#logos{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 17px;
    top: 293px;
}
.evento{
    position: absolute;
    width: 325px;
    height: 320px;
    left: 5px;
    top: 618px;
    background: #F4F0F0;
}
#eventol{
    position: absolute;
    width: 216px;
    height: 32px;
    left: 10px;
    top: 10px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#primeroe{
    position: absolute;
    width: 252px;
    height: 32px;
    left: 68px;
    top: 68px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}
#logope{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 17px;
    top: 92px;
}
#segundoe{
    position: absolute;
    width: 239px;
    height: 32px;
    left: 68px;
    top: 183px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}
#logose{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 17px;
    top: 217px;
}


.menú{

    width: 1rem;
    height: fit-content;
    position: fixed;
    left: 1%;
    text-align: center;
    transition: left 0.7%;
    top: 50%;
    background-color: #d6d0d0;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;

}

.checbox:checked ~ .menú{

    left: 8%;
    border-radius: 0 0.5rem 0.5rem 0;

}

.panel_Izquierdo{

    width: 8%;
    height: 100%;
    background-color: #d6d0d0;
    position: fixed;
    top: 85px;
    left: -8%;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4%;


}

.checbox:checked ~ .panel_Izquierdo{

    left: 0;

}

.checbox{

    display: none;
}

ul a {

    text-decoration: none;
    cursor: pointer;
    
}

li{

    list-style: none;
    text-align: center;
    padding: 0 0.5rem 0;
    margin: 1rem 0;
}

.flecha{
    position: absolute;
    width: 30px;
    height: 30px;
}