*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
}

header{
    width: auto;
    height: 84px;
}

.cabeza{
    height: fit-content;
    background-color: white;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgb( 0, 0, 0, .5);
}

.derechaCabecera{

    width: fit-content;
    padding: 0;
    margin-top: 30px;
    margin-right: 90px;
    position: absolute;
    top: -2px;
    left: 1042px;


}

.mensaje{
    margin-right: 60px;
}

.campana{
    margin-right: 60px;
}

.avatar{

    border-radius: 30px; 
}

.casa{

    width: 30px;
    height: 30px;
}

.yo{
  
    width: 30px;
    height: 30px;
}

.carpeta{
  
    width: 30px;
    height: 30px;
}


.pregunta{
  
    width: 30px;
    height: 30px;
}

.calendario{

    width: 30px;
    height: 30px; 
}

.carpetaok{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 441px;
    left: 32px;
}


.menú{

    width: 1rem;
    height: fit-content;
    position: fixed;
    left: 1%;
    text-align: center;
    transition: left 0.7%;
    top: 50%;
    background-color: #d6d0d0;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;

}

.checbox:checked ~ .menú{

    left: 8%;
    border-radius: 0 0.5rem 0.5rem 0;

}

.panel_Izquierdo{

    width: 8%;
    height: 100%;
    background-color: #d6d0d0;
    position: fixed;
    top: 85px;
    left: -8%;
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4%;


}

.checbox:checked ~ .panel_Izquierdo{

    left: 0;

}

.checbox{

    display: none;
}

ul a {

    text-decoration: none;
    cursor: pointer;
    
}

li{

    list-style: none;
    text-align: center;
    padding: 0 0.5rem 0;
    margin: 1rem 0;
}


.actividades{
    position: absolute;
    width: 325px;
    height: 372px;
    left: 5px;
    top: 204px;
    background: #F4F0F0;
}
#actividade{
    position: absolute;
    width: 105px;
    height: 32px;
    left: 10px;
    top: 10px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}


.reloj{
    position: absolute;
    width: 325px;
    height: 140px;
    left: 5px;
    top: 28px;
    background: #F4F0F0;
}

#relojl{
    position: absolute;
    width: 105px;
    height: 32px;
    left: 10px;
    top: -21px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#servi{
    position: absolute;
    width: 226px;
    height: 32px;
    left: 79px;
    top: 43px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#logoservi{
    position: absolute;
    left: 47px;
    top: -21px;
}

#usted{
    position: absolute;
    width: 226px;
    height: 32px;
    left: 79px;
    top: 77px;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
#logousted{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 47px;
    top: 88px;
    border-radius: 10px;
}

.fondo3{
    position: absolute;
    width: 337px;
    height: 954px;
    left: 1182px;
    top: 98px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}





